:root {
}
.app-container {
  width: 100vw;
  height: 100vh;
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
}
