
#blue{
  background-color: blue;

}
#red{
  background-color: red;

}
h2{
  margin: 1rem;
  color:#ddf;


}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  justify-content: center;
}
button{
 margin: 1rem;
 padding: 1rem;
 border-radius: 10px;


}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.spanNotification{
  color: red;

}
.App-link {
  color: #61dafb;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
